<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #title="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <label>Title</label>
        <input name="title" #title="ngModel" [(ngModel)]="service.formData.title" class="form-control" required>
        <div class="validation-error" *ngIf="title.invalid && title.touched">This field is required!</div>
    </div>
    <div class="form-group">
            <label>Publisher</label>
            <input name="publisher" #publisher="ngModel" [(ngModel)]="service.formData.publisher" class="form-control" required>
            <div class="validation-error" *ngIf="publisher.invalid && publisher.touched">This field is required!</div>
    </div>
    <div class="form-group">
            <label>Price</label>
            <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control" required>
            <div class="validation-error" *ngIf="price.invalid && price.touched">This field is required!</div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>
