<table class="table table-hover">
    <th>Title</th>
    <th>Publisher</th>
    <th>Price</th>
    <tr *ngFor="let abm of service.list">
        <td (click)="populateForm(abm)">{{abm.title}}</td>
        <td (click)="populateForm(abm)">{{abm.publisher}}</td>
        <td (click)="populateForm(abm)">$ {{abm.price}}</td>
        <td><button (click)="onDelete(abm.id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
</table>
